.jobboard

    .container

        h1 Jobs

        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-md-offset-2.col-lg-offset-2
                .company-logo
                    a(href="https://www.ordina.be/", target="_blank")
                        img(src="/components/sponsors/img/ordina-wide.png", alt="Ordina")

            .col-xs-12.col-sm-9.col-md-6.col-lg-6
                h3 Ordina

                h4 Frontend Developer

                p As a frontend developer you will be using Angular (2+), TypeScript, Sass and Ionic to create (progressive) web applications and hybrid mobile applications. These applications are accessible on a wide set of devices ranging from smartphones to tablets to desktop computers. Last but not least you know your way around Redux and ngrx, know how to optimise your applications and are comfortable with writing tests.
                p: a(href="http://ordina-jworks.github.io/jobs/javascript-developer/", target="_blank") More info...

        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-md-offset-2.col-lg-offset-2
                .company-logo
                    a(href="http://www.euri.com", target="_blank")
                        img(src="/components/sponsors/img/euricom.png", alt="Euricom")

            .col-xs-12.col-sm-9.col-md-6.col-lg-6
                h3 Euricom

                h4 Angular Lead Developer (Intern/Freelance)

                p Euricom has the urge to staff teams not individuals. For a customer in West-Limburg (Belgium), we are looking for an experienced Angular Developer to lead a greenfield project. He/she has to have the ability to roll out an architecture and coach an Euricom/Customer team of well trained Angular Developers (4). If you are interested in this position there is only thing you need to do. Give us a call (+32472207545) or send a mail (stijn.liesenborghs@euri.com)
                p: a(href="http://www.euri.com/jobs/Senior-Frontend-Developer", target="_blank") More info...

        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-md-offset-2.col-lg-offset-2
                .company-logo
                    a(href="http://www.aarixa.be/", target="_blank")
                        img(src="components/sponsors/img/aarixa.jpg", alt="aariXa")

            .col-xs-12.col-sm-9.col-md-6.col-lg-6
                h3 aariXa

                h4 Front-end SUPERMAN

                p Your superpowers:
                ul
                    li HTML 5, CSS3 & JavaScript (JQuery, AJAX, …)
                    li JavaScript Frameworks zoals Angular, Typescript & ECMAScript, Backbone.js, Ember, …
                    li Node.js & Express

                p: a(href="http://www.aarixa.be/job/front-end-superman/", target="_blank") More info...

        .row
            .col-xs-12.col-sm-3.col-md-2.col-lg-2.col-md-offset-2.col-lg-offset-2
                .company-logo
                    a(href="http://fourcast.io/", target="_blank")
                        img(src="/components/sponsors/img/fourcast.png", alt="Fourcast")

            .col-xs-12.col-sm-9.col-md-6.col-lg-6
                h3 Fourcast

                h4 Google Cloud Software Engineer

                p As a Google Cloud Platform Engineer, your mission consists of transforming the way companies work by building solutions on the Google Cloud Platform. The Cloud, with emerging technologies like Machine Learning and Big Data, has evolved from concept to a trend and is becoming a must for many companies out there. We strongly believe that the Google Cloud Platform is the best option available.
                p: a(href="http://fourcast.io/join-us/", target="_blank") More info...