.page.page--workshop-day

    .workshop-day-hero

        .container

            h1 Workshop day
            h3 Ghent, Belgium | 7 December 2017 | 07:30 - 17:30

    .workshop-day-intro
        .container
            .row
                .col-sm-6.col-sm-offset-3
                    .text-center There will be 3 workshops the day before the conference. Please bring your own laptop and note that workshop tickets are sold separately.
                    .text-center
                        strong More info coming soon!


    .workshop-day-workshop.workshop-day-workshop--one
        .workshop-heading
            .workshop-heading__intro Workshop 1 - Angular Forms
            .workshop-heading__title Angular Masterclass Workshop<br />by Thoughtram
            .workshop-heading__date 7 December 2017 | 08:30 - 17:30
            //.workshop-heading__tickets-left Sold out!
            .workshop-heading__buy
                a.btn.btn-default(href="https://ti.to/ng-be/ng-be-2017/") Get your tickets!
        .workshop-trainers
            .container
                .workshop-section-title Trainers
                .row
                    .col-sm-6
                        .trainer.text-right
                            .row
                                .col-xs-8.col-sm-9
                                    .trainer__name Pascal Precht
                                    .trainer__title Trainer at Thoughtram
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/PascalPrecht", target="_blank") @PascalPrecht
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/pascal-precht.jpg")
                    .col-sm-6
                        .trainer
                            .row
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/dominic-elm.jpg")
                                .col-xs-8.col-sm-9
                                    .trainer__name Dominic Elm
                                    .trainer__title Frontend Engineer at team neusta GmbH
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/elmd_", target="_blank") @elmd_
                .workshop-section-title.company__title About Thoughtram
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        .company__image
                            a(href="http://thoughtram.io", target="_blank")
                                img(src="components/workshop-day/img/thoughtram.png")
                        p.company__desc We help people to get a deep understanding of different technologies through trainings and code reviews. Our services can be arranged online, making it possible to join in from anywhere in the world, or on-site to get the best experience possible.
        .workshop-description
            .container
                .row
                    .col-sm-6.col-sm-offset-3
                        .workshop-section-title Description
                        p In this training, you will learn about template-driven and reactive forms by creating an application that uses various form control types. This workshop is intended for developers with an intermediate working knowledge of Angular.
        .workshop-schedule
            .container
                .row
                    .col-sm-8.col-sm-offset-2
                        .workshop-section-title Schedule
                        .schedule-items
                            .schedule-item
                                .schedule-item__time 07:30
                                .schedule-item__description
                                    p Enjoy the continental breakfast buffet together with the trainers
                            .schedule-item
                                .schedule-item__time 08:30
                                .schedule-item__description
                                    p Create forms using ngForm, ngModel and ngModelGroup
                            .schedule-item
                                .schedule-item__time 10:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, fresh yoghurt and fruits
                            .schedule-item
                                .schedule-item__time 11:00
                                .schedule-item__description
                                    p Use built-in validators and how to create your own custom validator
                                    p Create async validators
                            .schedule-item
                                .schedule-item__time 12:30
                                .schedule-item__description
                                    p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert
                            .schedule-item
                                .schedule-item__time 14:00
                                .schedule-item__description
                                    p Use reactive form APIs to take your form to the next level, using FormControl, FormGroup and FormBuilder APIs
                            .schedule-item
                                .schedule-item__time 15:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, energizers and snacks
                            .schedule-item
                                .schedule-item__time 16:00
                                .schedule-item__description
                                    p Create custom form controls
                            .schedule-item
                                .schedule-item__time 17:30
                                .schedule-item__description
                                    p End

    .workshop-day-workshop.workshop-day-workshop--two
        .workshop-heading
            .workshop-heading__intro Workshop 2 - RxJS in Angular
            .workshop-heading__title Advanced Reactive Programming in Angular with RxJS<br />by StrongBrew
            .workshop-heading__date 7 December 2017 | 08:30 - 17:30
            //.workshop-heading__tickets-left Sold out!
            .workshop-heading__buy
                a.btn.btn-default(href="https://ti.to/ng-be/ng-be-2017/") Get your tickets!
        .workshop-trainers
            .container
                .workshop-section-title Trainers
                .row
                    .col-sm-6
                        .trainer.text-right
                            .row
                                .col-xs-8.col-sm-9
                                    .trainer__name Brecht Billiet
                                    .trainer__title Frontend software architect
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/brechtbilliet", target="_blank") @brechtbilliet
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/brecht-billiet.jpg")
                    .col-sm-6
                        .trainer
                            .row
                                .col-xs-4.col-sm-3
                                    .trainer__image
                                        img(src="components/workshop-day/img/kwinten-pisman.jpg")
                                .col-xs-8.col-sm-9
                                    .trainer__name Kwinten Pisman
                                    .trainer__title Frontend software architect
                                    .trainer__links
                                        .trainer-link
                                            a(href="https://twitter.com/KwintenP", target="_blank") @KwintenP
                .workshop-section-title.company__title About StrongBrew
                .row
                    .col-xs-12.col-sm-6.col-sm-offset-3
                        .company__image
                            a(href="http://strongbrew.io", target="_blank")
                                img(src="components/workshop-day/img/strongbrew.jpg")
                        p.company__desc StrongBrew does not only stand for the fact that we adore the famous Belgian beers, but we also look at our workshops as brews, certain recipes to create awesome webapps. We also hold strong opinions on how one should create webapplications, and even though there are multiple ways to get stuff done, we would love to teach you how we do things.
        .workshop-description
            .container
                .row
                    .col-sm-6.col-sm-offset-3
                        .workshop-section-title Description
                        p In this workshop you will learn how to use RxJS properly in an angular application.
                        p You will see many code examples to get familiar with RxJS patterns to make your Angular applications reactive. Both simple and complex, eg: an infinite scroll. In addition, you will learn about the tools to analyse a problem and write some proper RxJS code around that problem.
                        p After the workshop, you should be able to fix easy and even complex problems and have more insights into the wonders of RxJS. Most importantly, you will learn how to "think in streams".
        .workshop-schedule
            .container
                .row
                    .col-sm-8.col-sm-offset-2
                        .workshop-section-title Schedule
                        .schedule-items
                            .schedule-item
                                .schedule-item__time 07:30
                                .schedule-item__description
                                    p Enjoy the continental breakfast buffet together with the trainers
                            .schedule-item
                                .schedule-item__time 08:30
                                .schedule-item__description
                                    p RXJS in a nutshell
                                    ul
                                        li How angular embraces RXJS
                                        li Subjects
                            .schedule-item
                                .schedule-item__time 10:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, fresh yoghurt and fruits
                            .schedule-item
                                .schedule-item__time 11:00
                                .schedule-item__description
                                    p Designing a reactive application
                                    ul
                                        li Thinking in streams
                                        li Drawing streams
                            .schedule-item
                                .schedule-item__time 12:30
                                .schedule-item__description
                                    p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert
                            .schedule-item
                                .schedule-item__time 14:00
                                .schedule-item__description
                                    p Documenting streams
                            .schedule-item
                                .schedule-item__time 15:30
                                .schedule-item__description
                                    p Break with coffees, teas, juices, energizers and snacks
                            .schedule-item
                                .schedule-item__time 16:00
                                .schedule-item__description
                                    p Debugging streams
                            .schedule-item
                                .schedule-item__time 17:30
                                .schedule-item__description
                                    p End
        .workshop-day-workshop.workshop-day-workshop--three
            .workshop-heading
                .workshop-heading__intro Workshop 3 - Security in Angular
                .workshop-heading__title Untangling authentication in Angular applications <br />by Philippe De Ryck
                .workshop-heading__date 7 December 2017 | 08:30 - 17:30
                //.workshop-heading__tickets-left Sold out!
                .workshop-heading__buy
                    a.btn.btn-default(href="https://ti.to/ng-be/ng-be-2017/") Get your tickets!
            .workshop-trainers
                .container
                    .workshop-section-title Trainers
                    .row
                        .col-sm-6.col-sm-offset-2
                            .trainer.text-right
                                .row
                                    .col-xs-8.col-sm-9
                                        .trainer__name Philippe De Ryck
                                        .trainer__title Trainer in Web Security
                                        .trainer__links
                                            .trainer-link
                                                a(href="https://twitter.com/philippederyck", target="_blank") @philippederyck
                                    .col-xs-4.col-sm-3
                                        .trainer__image
                                            img(src="components/workshop-day/img/philippe-deryck.jpg")
                    .workshop-section-title.company__title About Philippe
                    .row
                        .col-xs-12.col-sm-6.col-sm-offset-3
                            .company__image
                                a(href="https://www.websec.be/", target="_blank")
                                    img(src="components/workshop-day/img/ku-leuven.svg")
                            p.company__desc Philippe runs the Web Security Training program at iMinds-DistriNet Research Group, KU Leuven. Through practical, hands-on trainings, Philippe teaches about relevant threats, current state-of-practice security technologies, and upcoming technologies to keep an eye on.
            .workshop-description
                .container
                    .row
                        .col-sm-6.col-sm-offset-3
                            .workshop-section-title Description
                            p Learn to untangle authentication in Angular applications.
                            p Authentication and session management in Angular applications does not seem that different. But when you take a closer look, you will find yourself surprised. For example, many Angular applications opt for JWT tokens instead of cookies. But did you know that comparing these two makes no sense? Authentication and session management affect not only the frontend but also the backend. When do you need to protect your API against Cross-Site Request Forgery? And how do you deploy a correct Cross-Origin Resource Sharing (CORS) policy?
                            p Many developers struggle with these questions. In this workshop, we take a close look at common mistakes in Angular applications. Throughout the day, we build up a set of best practices. In the end, you will walk away with the knowledge to make educated decisions about the security of your applications.
            .workshop-schedule
                .container
                    .row
                        .col-sm-8.col-sm-offset-2
                            .workshop-section-title Schedule
                            .schedule-items
                                .schedule-item
                                    .schedule-item__time 07:30
                                    .schedule-item__description
                                        p Enjoy the continental breakfast buffet together with the trainers
                                .schedule-item
                                    .schedule-item__time 08:30
                                    .schedule-item__description
                                        p Setting the baseline
                                        ul
                                            li Why we still depend on credentials for authentication
                                            li Common mistakes in authentication forms
                                .schedule-item
                                    .schedule-item__time 10:30
                                    .schedule-item__description
                                        p Break with coffees, teas, juices, fresh yoghurt and fruits
                                .schedule-item
                                    .schedule-item__time 11:00
                                    .schedule-item__description
                                        p Tracking authentication state
                                        ul
                                            li The “cookies vs tokens” debate
                                            li Session management in three properties
                                            li Deciding the right approach for your application
                                .schedule-item
                                    .schedule-item__time 12:30
                                    .schedule-item__description
                                        p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert
                                .schedule-item
                                    .schedule-item__time 14:00
                                    .schedule-item__description
                                        p Common vulnerabilities in an API world
                                        ul
                                            li When does Cross-Site Request Forgery (CSRF) matter?
                                            li Understanding Cross-Origin Resource Sharing (CORS)
                                            li Common misconfigurations with CORS
                                            li Practical steps to protect your application
                                .schedule-item
                                    .schedule-item__time 15:30
                                    .schedule-item__description
                                        p Break with coffees, teas, juices, energizers and snacks
                                .schedule-item
                                    .schedule-item__time 16:00
                                    .schedule-item__description
                                        p Advanced authentication mechanisms
                                        ul
                                            li Multifactor authentication
                                            li OAuth 2.0 and OpenID Connect
                                .schedule-item
                                    .schedule-item__time 17:30
                                    .schedule-item__description
                                        p End

    .workshop-ticket-includes
        .container
            h1 What's included?
            h2 Every workshop day ticket includes:

            .row
                .col-sm-4
                    .included-item
                        h3 Full access
                        p Access to your selected training.

                .col-sm-4
                    .included-item
                        h3 Free parking
                        p Free car parking on the private Holiday Inn car parking space.

                .col-sm-4
                    .included-item
                        h3 Goodie bag
                        p Goodie bag with lots of cool swag.

            .row
                .col-sm-4
                    .included-item
                        h3 Breakfast buffet
                        p Continental breakfast buffet with the trainers.

                .col-sm-4
                    .included-item
                        h3 Lunch
                        p Lunch with fresh soup, salads, selections of cold and warm foods and dessert.

                .col-sm-4
                    .included-item
                        h3 Breaks
                        p Morning and afternoon breaks with coffees, teas, juices, fresh yoghurt and fruits.

    //.workshop-day-buy
        .container
            h1 Don't miss it!
            h2 Only limited tickets are available:
            a.btn.btn-primary.btn-lg(href="https://ti.to/ng-be/ng-be-2016/", target="_blank") Buy your ticket now

    include /components/sponsorscommunity/sponsorscommunity

    include /components/last-year-impressions/last-year-impressions
