.page.page--conference-day

    .conference-day-hero

        .container

            h1 Conference day
            h3 Ghent, Belgium | 8 December 2017 | 07:00 - 19:30

    .conference-day-intro
        .container
            .row
                .col-sm-6.col-sm-offset-3
                    .text-center
                        p Learn about the latest Angular developments and meet with experts from the Angular community while enjoying delicious foods and drinks.
                    .text-center
                        p: a.btn.btn-primary.btn-large(href="https://ti.to/ng-be/ng-be-2017/") Get your tickets now


    .conference-day-speakers

        .container

            h1 Speakers
            h2 12 internationally renowned speakers from 9 different countries:

            ul.quicklinks
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'pascal-precht'})") Pascal Precht
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'todd-motto'})") Todd Motto
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'philippe-deryck'})") Philippe De Ryck
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'dominic-elm'})") Dominic Elm
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'manfred-steyer'})") Manfred Steyer
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'juri-strumpflohner'})") Juri Strumpflohner
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'aimee-knight'})") Aimee Knight
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'aysegul-yonet'})") Ayşegül Yönet
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'asim-hussain'})") Asim Hussain
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'uri-shaked'})") Uri Shaked
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'maxim-salnikov'})") Maxim Salnikov
                li
                    a(ui-sref="app.public.conferenceDay({'#': 'vincent-ogloblinsky'})") Vincent Ogloblinsky

            .row
                .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3


                    .speaker#pascal-precht
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/pascal-precht.jpg")
                            .col-xs-9
                                .speaker__name Pascal Precht
                                .speaker__title Trainer at @thoughtram, Google Developer Expert
                                .speaker__description Pascal is a front-end engineer and an Angular Developer Expert nominated by Google. He created the angular-translate module, is an Angular 2 contributor and also part of the Angular 2 Docs Authoring team.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/PascalPrecht", target="_blank") @PascalPrecht

                    .speaker#todd-motto
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/todd-motto.jpg")
                            .col-xs-9
                                .speaker__name Todd Motto
                                .speaker__title Founder of Ultimate Angular, Google Developer Expert
                                .speaker__description JavaScript, Angular, React, conference speaker. Developer Expert at Google, open source lover.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/toddmotto", target="_blank") @ToddMotto

                    .speaker#philippe-deryck
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/philippe-deryck.jpg")
                            .col-xs-9
                                .speaker__name Philippe De Ryck
                                .speaker__title Trainer in Web Security
                                .speaker__description Philippe De Ryck is a professional speaker and trainer on software security and web security. Since he obtained his PhD at the imec-DistriNet research group (KU Leuven, Belgium), he has been running the group's Web Security Training program, which ensures a sustainable knowledge transfer of the group’s security expertise towards practitioners.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/philippederyck", target="_blank") @philippederyck

                    .speaker#dominic-elm
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/dominic-elm.jpg")
                            .col-xs-9
                                .speaker__name Dominic Elm
                                .speaker__title Trainer at Thoughtram
                                .speaker__description Dominic is trainer at Thoughtram and co-founder of MachineLabs.
                                .speaker__links
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/elmd_", target="_blank") @elmd_

                    .speaker#manfred-steyer
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/manfred-steyer.jpg")
                            .col-xs-9
                                .speaker__name Manfred Steyer
                                .speaker__title Freelance trainer and consultant, Google Developer Expert
                                .speaker__description Trainer and Consultant with focus on Angular. Writes for O'Reilly, Hanser, windows.developer and Heise Developer. Regularly speaks at conferences.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/ManfredSteyer", target="_blank") @ManfredSteyer

                    .speaker#juri-strumpflohner
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/juri-strumpflohner.jpg")
                            .col-xs-9
                                .speaker__name Juri Strumpflohner
                                .speaker__title Software Architect, instructor at Egghead.io
                                .speaker__description Juri is a Software Architect, JavaScript coder, blogger, instructor at Egghead.io and martial arts practitioner
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/juristr", target="_blank") @juristr

                    .speaker#aimee-knight
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/aimee-knight.jpg")
                            .col-xs-9
                                .speaker__name Aimee Knight
                                .speaker__title Software engineer at Warner Bros.
                                .speaker__description Aimee is a former figure skater and Angular Air panelist. She is currently working as a software engineer at Warner Bros.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/Aimee_Knight", target="_blank") @Aimee_Knight

                    .speaker#aysegul-yonet
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/aysegul-yonet.jpg")
                            .col-xs-9
                                .speaker__name Ayşegül Yönet
                                .speaker__title Angular consultant at Nrwl.io, Google Developer Expert
                                .speaker__description Aysegul is a Javascript developer focusing on AngularJS and data visualization. She is a Developer Expert at Google, an active conference speaker and recently joined Victor Savkin and Jeff Cross at Nrwl.io.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/AysSomething", target="_blank") @AysSomething

                    .speaker#asim-hussain
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/asim-hussain.png")
                            .col-xs-9
                                .speaker__name Asim Hussain
                                .speaker__title Cloud developer advocate @Microsoft
                                .speaker__description Asim is a conference speaker, published author, passionate teacher and cloud developer advocate @Microsoft
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/jawache", target="_blank") @jawache

                    .speaker#uri-shaked
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/uri-shaked.jpg")
                            .col-xs-9
                                .speaker__name Uri Shaked
                                .speaker__title Google Developer Expert
                                .speaker__description Uri regularly speaks about Web and IoT-related topics around the world. He works part-time for BlackBerry, maintains several open-source projects and dances Salsa.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/UriShaked", target="_blank") @UriShaked

                    .speaker#maxim-salnikov
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/maxim-salnikov.jpg")
                            .col-xs-9
                                .speaker__name Maxim Salnikov
                                .speaker__title Front-end Engineer, Google Developer Expert
                                .speaker__description Maxim is a Web front-end engineer from Oslo and a Google Developer Expert in Web technologies & IoT. He is active as a public tech speaker & trainer and founder of Mobile Era & ngVikings.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/webmaxru", target="_blank") @webmaxru

                    .speaker#vincent-ogloblinsky
                        .row
                            .col-xs-3
                                .speaker__image
                                    img(src="components/conference-day/img/vincent-ogloblinsky.jpg")
                            .col-xs-9
                                .speaker__name Vincent Ogloblinsky
                                .speaker__title Front-end Architect
                                .speaker__description Vincent is a trainer, speaker, father and Front-end Architect from France.
                                .speaker__links
                                    .speaker-link
                                        a(href="https://twitter.com/vogloblinsky", target="_blank") @vogloblinsky

    .conference-day-schedule
        .container#schedule
            h1 Schedule
            .row
                .col-sm-8.col-sm-offset-2
                    .schedule-items
                        .schedule-item
                            .schedule-item__time 07:00
                            .schedule-item__description
                                p Doors are open
                        .schedule-item
                            .schedule-item__time 07:30
                            .schedule-item__description
                                p Enjoy the continental breakfast buffet together with the speakers
                        .schedule-item__talk
                            .schedule-item__time 08:45
                            .schedule-item__description
                                p The conference opening ceremony
                        .schedule-item__talk
                            .schedule-item__time 09:00
                            .schedule-item__description
                                h3 Angular Elements
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'pascal-precht'})") Pascal Precht
                                p In this talk we'll take a look at experimental APIs that enable us to generate native Web Components from Angular components.
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Pascal's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 09:35
                            .schedule-item__description
                                h3 Building High Performance Static Website with Angular
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'uri-shaked'})") Uri Shaked
                                p Traditionally, AngularJS has been used for building rich single-page applications.
                                p Nowadays, Angular has become a universal framework, running inside the browser, in the backend and even powering your mobile apps.
                                p The new Angular version unlocks some interesting use-cases that were not previously possible. In this talk, we are going to see how to set up angular-universal together with fuse-box for building scalable, high-performance static web sites, such as a blog or a landing page that can be easily deployed to gh-pages or Firebase Hosting.
                                p Did I mention hot-reloading, offline support and Progressive Web Apps?
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Uri's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 10:10
                            .schedule-item__description
                                h3 Create and publish Angular libs like a Pro
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'juri-strumpflohner'})") Juri Strumpflohner
                                p Libraries are the building blocks of every serious application. As such, a healthy ecosystem of reusable tools and libraries are extremely important for the success of a frontend framework.
                                p In this talk we will learn how to contribute to the Angular ecosystem by learning how to build and release Angular libraries like a pro. We will explore their structure, learn about bundling techniques and formats and finally about semantic versioning & continuous, automated deployment to NPM.
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Juri's talk on YouTube
                        .schedule-item
                            .schedule-item__time 10:40
                            .schedule-item__description
                                p Break with coffees, teas, juices, energizers and snacks
                        .schedule-item
                            .schedule-item__time 11:00
                            .schedule-item__description
                                p Sponsor talk by
                                    = ' '
                                    a(href="sponsors#arhs-digital") ARHS Digital
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch ARHS's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 11:10
                            .schedule-item__description
                                h3 Hidden Gems of TypeScript compiler
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'vincent-ogloblinsky'})") Vincent	Ogloblinsky
                                p TypeScript provides a powerful compiler we use most of the time for transpiling codebase in our projects. But it also has hidden features that can help us with so many fantastic tasks.
                                In this talk we will learn how the compiler works, and how we can use it for statical analysis (Codelyzer, TSLint), context aware replacement, code visualization (ngrev), documentation (Compodoc, TypeDoc) or language service plugin (Angular Language Service).
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Vincent's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 11:45
                            .schedule-item__description
                                h3 Cookies versus tokens: a paradoxical choice
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'philippe-deryck'})") Philippe De Ryck
                                p When you’re building Angular applications, you will need to figure out how to manage your user’s sessions. Back in the days, this used to be simple. But now, there are many different options, all with specific advantages and disadvantages. How can you make a sensible choice, and how will that impact the security of your application? This talk will lay it out for you. You will learn how to assess your past choices, and how to substantiate future decisions.
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Philippe's talk on YouTube
                        .schedule-item
                            .schedule-item__time 12:15
                            .schedule-item__description
                                p Sponsor giveaway by
                                    = ' '
                                    a(href="sponsors#euricom") Euricom
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Euricom's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 12:20
                            .schedule-item__description
                                h3 Creating an Angular Progressive Web App: which option will work better for you?
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'maxim-salnikov'})") Maxim Salnikov
                                p We have at least two very interesting options to create an Angular PWA. First, the native Angular Service Worker (NGSW) by the Angular team, super-powered by Angular CLI and some extra ng-pwa-tools. Second, the all new framework-agnostic Workbox library by the Google Chrome team.
                                p What's easier to set up for your Angular app? What has wider functionality? What's faster and more robust? Let's go exploring, coding and testing! You will have 100% full overview of these two approaches after my session, but the final decision is yours!"
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Maxims's talk on YouTube
                        .schedule-item
                            .schedule-item__time 12:40
                            .schedule-item__description
                                p Lunch time: fresh soup, salads, selections of cold and warm fish and meat dishes, dessert
                        .schedule-item
                            .schedule-item__time 14:00
                            .schedule-item__description
                                p Sponsor talk by
                                    = ' '
                                    a(href="sponsors#ordina") Ordina
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Ordina's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 14:15
                            .schedule-item__description
                                h3 A close look at Angular's new HttpClient
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'manfred-steyer'})") Manfred Steyer
                                p Nearly all Angular applications must communicate with HTTP-based APIs. To make this task easier, Angular 4.3 introduced the new HttpClient.
                                p This session looks at its possibilities. It shows how to use not only JSON but also other text-based formats like XML or CSV.
                                p Furthermore, you will see how to deal with binary streams and how your application can get progress information when doing file up- and downloads.
                                p In addition, we will look at Interceptors that allow to implement cross-cutting concerns like security checks, logging, or caching.
                                p Finally, you will see how to protect from XSRF attacks and what the HttpClient holds in store for testing.
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Manfred's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 14:50
                            .schedule-item__description
                                h3 It's Not Dark Magic - Pulling Back the Curtains From Your Stylesheets
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'aimee-knight'})") Aimee Knight
                                p All too often developers are left completely puzzled when the browser renders CSS in ways they didn’t expect. It’s not dark magic though and as developers we know that computers are just parsing our instructions. While many talks discuss how to fix common bugs, this talk will focus on the why by taking a deep dive into browser internals to see how our styles are parsed and rendered.
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Aimee's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 15:25
                            .schedule-item__description
                                h3 How to hack an Angular app?
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'asim-hussain'})") Asim Hussain
                                p Thought hacking was hard? It’s not, it’s easy and I’m going to show you how! In this episode of CSI Belgium we’ll investigate a series of hacking stories and break them down step-by-step to see exactly how they did it. By the end you’ll walk away a little bit more scared and a lot more prepared with some great practices you can apply immediately to your own applications.
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Asim's talk on YouTube
                        .schedule-item
                            .schedule-item__time 15:55
                            .schedule-item__description
                                p Break with coffees, teas, juices, energizers and snacks
                        .schedule-item
                            .schedule-item__time 16:15
                            .schedule-item__description
                                p Sponsor talk by
                                    = ' '
                                    a(href="sponsors#aarixa") aariXa
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=-", target="_blank") Watch aariXa's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 16:25
                            .schedule-item__description
                                h3 Taming snakes with reactive streams
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'dominic-elm'})") Dominic Elm
                                p In this talk you will learn how to think reactively by implementing a snakes game without relying on any external state variables. In addition, you will learn how to make use of some very common operators including scan, withLatestFrom, combineLatest etc.
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Dominic's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 17:00
                            .schedule-item__description
                                h3 Performant Augmented Reality for the Web
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'aysegul-yonet'})") Ayşegül Yönet
                                p Augmented Reality is opening up new and exciting possibilities for users. Today we are able to develop pure web experiences that work on mobile devices. While it is exciting, it is a brand new technology. Creating Augmented Reality experiences involves several APIs, WebRTC, WebGL and more.
                                p Let’s look at how we can make it easier to create Augmented Reality experiences with declarative Angular components. We will go over the performance considerations as well as the “Hello AR!” example code and resources.
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Todd's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 17:35
                            .schedule-item__description
                                h3 Angular Architecture: From Patterns to Implementation
                                p
                                    a(ui-sref="app.public.conferenceDay({'#': 'todd-motto'})") Todd Motto
                                p Design patterns are what drives sensible architecture, and this applies to code organisation, component and module architecture, all the way through to state management. Let’s see how they all work as individual patterns, and explore their implementation in code. Once we know how the moving pieces work, we can easily fit them together to build solid apps that head in the same direction.
                                //p.schedule-item__youtube
                                    a(href="https://www.youtube.com/watch?v=", target="_blank") Watch Todd's talk on YouTube
                        .schedule-item__talk
                            .schedule-item__time 18:05
                            .schedule-item__description
                                p Conference closing ceremony
                        .schedule-item
                            .schedule-item__time 18:20
                            .schedule-item__description
                                p Opportunity to socialise with speakers and take pictures with your favorite Angular experts
                        .schedule-item
                            .schedule-item__time 19:30
                            .schedule-item__description
                                p End of conference

    //.conference-day-buy
        .container
            h1 Don't miss it!
            h2 Due to the small venue size, only limited tickets are available:
            a.btn.btn-primary.btn-lg(href="https://ti.to/ng-be/ng-be-2016/", target="_blank") Buy your conference ticket now

    .conference-ticket-includes
        .container
            h1 What's included?
            h2 Every conference day ticket includes:

            .row
                .col-sm-4
                    .included-item
                        h3 Full access
                        p Unlimited access to all conference talks.

                .col-sm-4
                    .included-item
                        h3 Free parking
                        p Free car parking on the private Holiday Inn car parking space.

                .col-sm-4
                    .included-item
                        h3 Goodie bag
                        p Goodie bag with lots of cool swag.

            .row
                .col-sm-4
                    .included-item
                        h3 Breakfast buffet
                        p Continental breakfast buffet with the speakers.

                .col-sm-4
                    .included-item
                        h3 Lunch
                        p Lunch with fresh soup, salads, selections of cold and warm foods and dessert.

                .col-sm-4
                    .included-item
                        h3 Breaks
                        p Morning and afternoon breaks with coffees, teas, juices, fresh yoghurt and fruits.

    include /components/sponsorscommunity/sponsorscommunity

    include /components/last-year-impressions/last-year-impressions

    //.conference-day-angular-air
        .container
            img(src="/components/conference-day/img/angular-air.png")
            h1 Angular Air is coming!
            .row
                .col-sm-6.col-sm-offset-3
                    h2
                        a(href="https://twitter.com/OCombe", target="_blank") Olivier Combe
                        = ' '
                        | from the awesome
                        = ' '
                        a(href="https://angularair.com/", target="_blank") Angular Air
                        = ' '
                        | team will be present at NG-BE and will be recording an on-site video podcast
            a.btn.btn-primary.btn-lg(href="https://ti.to/ng-be/ng-be-2016/", target="_blank") Buy your conference ticket now
